# rename all <your_project_name> entries
# change the user_name

[Unit]
Description=your_project_name

[Service]
# write below your application folder
WorkingDirectory=/var/www/your_project_name
ExecStart=/usr/bin/dotnet /var/www/your_project_name/your_project_name.dll
Restart=always
RestartSec=10
SyslogIdentifier=your_project_name
User=user_name
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
# write there needed port
Environment=ASPNETCORE_URLS=http://localhost:5000 

[Install]
WantedBy=multi-user.target